---
layout: false
---
article style='display:flex; height: 100%; margin:0 auto; align-items:center; justify-content:center; flex-direction:column;'
  div style='display:flex;flex-direction:row;'
    div 
      a href="/js" style="margin-right:60px;"
        img src="/images/home/js-logo@2x.png" height=180
    div
      a href="/swift" style="margin-right:60px;"
        img src="/images/home/swift-logo@2x.png" height=180
    div
      a href="/ruby"
        img src="/images/home/ruby-logo@2x.png" height=180
  
  p style="font-family: 'Monaco'; padding-top:20px;"
    a href="/js/js-vs-ruby.html" Help me choose

